@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

.otp-input-container {
  display: flex;
  justify-content: space-between;
}

.otp-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  outline: none;
  font-size: 16px;
  padding: 8px 0;
  width: calc(100% / 6 - 8px);
  box-sizing: border-box;
  background-color: transparent;
  transition: border-color 0.2s;
  text-align: center;
}

.otp-input:focus {
  border-color: #6200ee;
}

.otp-input:focus {
  border-color: #6200ee;
}

.text_mindmap_small {
  font-size: 0.9em !important;
}

.licenseText {
  position: absolute;
  bottom: 10px;
  left: 20%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 12px;
  z-index: 2;
  font-weight: lighter;
}

.title_authen {
  font-size: 25px;
}

.sub_authen {
  font-size: 20px;
}

.aside-img {
  width: 100%;
}

.logo_auth {
  width: 70px;
  height: 70px;
  border-radius: 25px;
}

.banner-content {
  width: 500px;
}

.animate-charcter-banner {
  background-image: linear-gradient(
    -225deg,
    #a23d76 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 70px;
  font-weight: 800;
}

/* Phone */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title_authen {
    font-size: 24px;
  }

  .sub_authen {
    font-size: 10px;
  }
  .aside-img {
    height: 50%;
  }

  .logo_auth {
    width: 60px;
    height: 60px;
    border-radius: 15px;
  }
}

.video-container {
  width: 600px;
  height: 600px;
  overflow: hidden;
}
.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-faceauth {
  top: 10px;
  left: 35px;
  position: absolute;
}

.licenseText_faceauth {
  font-size: 12px;
  z-index: 2;
  font-weight: lighter;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.scanner {
  position: relative;
  width: 600px;
  height: 600px;
}

.scan-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(
    30,
    105,
    255,
    0.7
  ); /* Green color with some transparency */
  animation: scan 2s linear infinite;
}

@keyframes scan {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.665);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
