.video-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  border-radius: 12px;
}

.smooth-transition {
  transition: all 0.5s ease;
}

.camera-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    #8ec5fc,
    #e0c3fc
  ); /* Fun gradient background */
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.videot {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.overlay-camera {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(53, 89, 232, 0.4);
  z-index: 10;
  border-radius: 12px;
  border: 5px solid; /* Gradient border */
  border-image: linear-gradient(135deg, #ff9a8d, #fec8d8, #8ec5fc, #e0c3fc);
  border-image-slice: 1;
}

.overlay-camera,
.intro-detect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border-radius: 12px;
}

.overlay-title {
  color: #fff;
  font-size: 3.2rem;
  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
  margin-bottom: 1rem;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.overlay-subtitle {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

.camera-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 11;
}

.eye-video-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.detect-button {
  background: linear-gradient(45deg, #6b73ff, #000dff);
  color: #ffffff;
  padding: 0 24px;
  border: none;
  border-radius: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.detect-button:hover {
  background: linear-gradient(45deg, #000dff, #6b73ff);
  transform: translateY(-3px);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}

.detect-button:active {
  transform: translateY(1px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.countbar-section {
  position: absolute;
  top: 20px;
  width: 80%;
  z-index: 999;
  transform: translateX(-50%);
  left: 50%;
}

.countdown-bar-container {
  width: 100%;
  height: 15px;
  background-color: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
}

.countdown-bar {
  height: 100%;
  width: 0%;
  background-color: #09a53a;
  transition: width 1s linear;
}

.action-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  z-index: 100;
}

.btn-retry {
  padding: 0 24px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn-get-result {
  background: linear-gradient(45deg, #6b73ff, #000dff);
  color: #ffffff;
  padding: 0 24px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.eye-animation {
  position: absolute;
  z-index: 2;
  display: none;
  pointer-events: none;
  left: 0;
  top: 0;
}

.result-card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
