<template>
  <div class="container">
    <transition name="fade" mode="out-in">
      <div v-if="showOverlay" class="overlay-color">
        <div class="overlay-content">
          <h1>Color Test</h1>
          <img
            src="https://thumb.ac-illust.com/98/9821ad25764f187ec2da61960c6c8781_t.jpeg"
            alt="Eye"
            class="eye-image"
          />
          <p v-if="eyePosition === 'od'">
            <strong>Bạn hãy che mắt trái và chọn kết quả kiểm tra.</strong>
          </p>
          <p v-if="eyePosition === 'os'">
            <strong>Bạn hãy che mắt phải và chọn kết quả kiểm tra.</strong>
          </p>
          <p>
            Bài kiểm tra này giúp xác định sự thiếu hụt về khả năng nhận biết
            màu sắc. Bạn sẽ được xem một loạt hình ảnh có các con số ẩn trong
            đó. Hãy chọn số bạn nhìn thấy từ các tùy chọn được cung cấp.
          </p>
          <p v-if="eyePosition === 'od'">
            Bạn hiện đang kiểm tra mắt phải (OD).
          </p>
          <p v-if="eyePosition === 'os'">
            Bạn hiện đang kiểm tra mắt trái (OS).
          </p>
          <button class="start-button" @click="startTest">Bắt đầu</button>
        </div>
      </div>
      <div v-else-if="showEndScreen" class="overlay-color">
        <div class="overlay-content">
          <h1>Hoàn tất</h1>
          <p>
            Bạn đã hoàn tất color vision test. Nhấn nút dưới để tiếp tục bài
            test tiếp theo
          </p>
          <button class="start-button" @click="nextTest">Tiếp tục</button>
        </div>
      </div>
      <div v-else class="card" :key="currentPlate.id">
        <div class="image-container">
          <img
            :src="currentPlate.images"
            alt="Color Test Plate"
            class="test-image"
          />
        </div>
        <div class="answer-options">
          <div
            v-for="answer in currentPlate.answers"
            :key="answer"
            :class="['answer-button', { selected: selectedAnswer === answer }]"
            @click="selectAnswer(answer)"
          >
            {{ answer }}
          </div>
        </div>
        <div class="d-flex flex-row justify-center">
          <button class="skip-button" @click="skipQuestion">
            Tôi không thấy
          </button>
          <button
            class="confirm-button ml-2"
            @click="nextQuestion"
            :disabled="selectedAnswer === null"
          >
            Xác nhận và tiếp tục
          </button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { Plates } from "@/plugins/contant";
import { $dbSet } from "@/plugins/helper";

export default {
  name: "ColorTest",
  data() {
    return {
      plates: this.shuffleArray(Plates),
      currentIndex: 0,
      selectedAnswer: null,
      showOverlay: true,
      showEndScreen: false,
      userAnswers: [],
      eyePosition: null,
    };
  },
  computed: {
    currentPlate() {
      return this.plates[this.currentIndex];
    },
  },
  created() {
    const { id, datetime, position } = this.$route.params;
    this.eyePosition = position;

    if (!position) {
      this.$router.push(`/amsler-test/${id}/${datetime}`);
    }
  },
  methods: {
    selectAnswer(answer) {
      this.selectedAnswer = answer;
    },
    skipQuestion() {
      // Save the skipped answer
      this.userAnswers.push({
        question: this.currentPlate.id,
        rightAnswer: this.currentPlate.rightAnswer,
        answer: "skipped",
      });
      this.selectedAnswer = null;
      if (this.currentIndex < this.plates.length - 1) {
        this.currentIndex += 1;
      } else {
        this.showEndScreen = true;
        console.log("User's answers:", this.userAnswers);
      }
    },
    nextQuestion() {
      this.userAnswers.push({
        question: this.currentPlate.id,
        rightAnswer: this.currentPlate.rightAnswer,
        answer: this.selectedAnswer,
      });
      this.selectedAnswer = null;
      if (this.currentIndex < this.plates.length - 1) {
        this.currentIndex += 1;
      } else {
        this.showEndScreen = true;
        console.log("User's answers:", this.userAnswers);
      }
    },
    startTest() {
      this.showOverlay = false;
    },

    async nextTest() {
      console.log("Proceeding to the next test...");
      const { id, datetime, position } = this.$route.params;

      if (this.userAnswers.length > 0) {
        await $dbSet(
          `checkups/${id}/${datetime}/colorAnswers/${position}`,
          this.userAnswers
        );
      }

      if (!position) {
        window.location.href = `/amsler-test/${id}/${datetime}`;
      } else if (position === "od") {
        window.location.href = `/color-test/${id}/${datetime}/os`;
      } else if (position === "os") {
        window.location.href = `/amsler-test/${id}/${datetime}/od`;
      }
    },
    shuffleArray(array) {
      let shuffledArray = array.slice();
      for (let i = shuffledArray.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [shuffledArray[i], shuffledArray[j]] = [
          shuffledArray[j],
          shuffledArray[i],
        ];
      }
      return shuffledArray;
    },
  },
};
</script>

<style scoped>
.skip-button {
  background: #ff7043;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  font-size: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skip-button:hover {
  background: #f4511e;
  transform: scale(1.05);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  padding: 30px 0;
}

.image-container {
  position: relative;
  width: 100%;
}

.test-image {
  height: 400px;
  max-height: 400px;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

.answer-button {
  background: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: calc(50% - 40px);
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  text-align: center;
  font-size: 1.1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.answer-button:hover {
  background: #d5d5d5;
  transform: scale(1.05);
}

.selected {
  background: #3f51b5;
  color: white;
  border: 1px solid #3f51b5;
}

.confirm-button {
  background: #ff4081;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  font-size: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirm-button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.confirm-button:not(:disabled):hover {
  background: #e91e63;
  transform: scale(1.05);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter,
    .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}

.overlay-color {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  text-align: center;
  color: rgb(0, 0, 0);
  max-width: 700px;
}

.overlay-content h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.overlay-content p {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: black;
}

.start-button {
  background: #3f51b5;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  font-size: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.start-button:hover {
  background: #303f9f;
  transform: scale(1.05);
}
</style>
