<template>
  <v-app>
    <router-view />
  </v-app>
</template>

<script setup>
import { RouterView } from "vue-router";
</script>

<style lang="scss">
@import "@/assets/scss/auth.scss";
</style>
