<template>
  <div class="container">
    <transition name="fade" mode="out-in">
      <!-- Introduction Screen -->
      <v-card
        v-if="showOverlay"
        class="elevation-5 h-100 w-100 d-flex align-center justify-center rounded-xl"
      >
        <div class="overlay-content">
          <img
            src="@/assets/images/png/I-B1.svg"
            alt="Introduction"
            class="introduction-image"
          />
          <h1>Amsler Grid Test</h1>

          <p v-if="eyePosition === 'od'">
            <strong>Bạn hãy che mắt trái và chọn kết quả kiểm tra.</strong>
          </p>
          <p v-if="eyePosition === 'os'">
            <strong>Bạn hãy che mắt phải và chọn kết quả kiểm tra.</strong>
          </p>
          <p>
            Bài kiểm tra này giúp xác định các bất thường về thị lực. Bạn sẽ
            thấy một hình ảnh của lưới Amsler. Trước tiên, hãy chọn xem thị lực
            của bạn có xuất hiện "Bình thường" hay "Không bình thường".
          </p>
          <button class="start-button mt-10" @click="startTest">Bắt đầu</button>
        </div>
      </v-card>

      <!-- Guiding Screen -->
      <v-card
        v-else-if="showInstructions"
        class="elevation-5 h-100 w-100 d-flex align-center justify-center rounded-xl flex-column"
      >
        <img
          v-if="eyePosition === 'os'"
          src="@/assets/images/png/I-CV1.svg"
          alt="Eye Instruction"
          class="eye-instruction-image"
        />
        <img
          v-if="eyePosition === 'od'"
          src="@/assets/images/png/I-CV2.svg"
          alt="Eye Instruction"
          class="eye-instruction-image"
        />
        <h1 class="mt-10">Hướng dẫn</h1>

        <h2 class="mb-10 font-weight-medium">
          Vui lòng che {{ eyePosition === "od" ? "mắt trái" : "mắt phải" }} của
          bạn như sau:
        </h2>
        <h2 class="mb-6 font-weight-medium">
          - Sử dụng lòng bàn tay hoặc một mảnh vải sạch để che mắt
          {{ eyePosition === "od" ? "trái" : "phải" }}.<br />
          - Che nhẹ nhàng, không tạo áp lực lên mắt để tránh gây khó chịu hoặc
          ảnh hưởng đến thị lực.<br />
          - Đảm bảo mắt được che kín hoàn toàn, không để ánh sáng lọt vào.<br />
          - Mắt còn lại nhìn thẳng vào màn hình và tập trung vào bài kiểm tra.
        </h2>

        <button class="start-button" @click="proceedToTest">Tôi đã hiểu</button>
      </v-card>

      <!-- End Screen -->
      <div v-else-if="showEndScreen" class="overlay-color">
        <div class="overlay-content">
          <h1 v-if="eyePosition == 'od'">Tiếp tục</h1>
          <h1 v-else>Hoàn tất</h1>

          <p class="mb-10" v-if="eyePosition == 'os'">
            Bạn đã hoàn tất Amsler Grid , Nhấn vào nút phía dưới để xem kết quả
          </p>
          <p class="mb-10 text-center" v-else>
            Bạn đã hoàn tất Amsler Grid test test ở mắt
            {{ eyePosition === "od" ? "trái" : "phải" }}. Nhấn nút dưới để tiếp
            tục bài test tiếp theo
          </p>

          <button class="start-button" @click="nextTest">Xác nhận</button>
        </div>
      </div>

      <!-- Test Screen -->
      <div v-else class="card" :key="currentStep">
        <div v-if="currentStep === 0">
          <h2>Bạn thấy hình ảnh trên bình thường hay bất thường?</h2>
          <div class="image-container"></div>
          <div class="answer-options">
            <div
              v-for="answer in initialAnswers"
              :key="answer"
              :class="[
                'answer-button',
                { selected: selectedAnswer === answer },
              ]"
              @click="selectAnswer(answer)"
            >
              {{ answer }}
            </div>
          </div>
          <button
            class="confirm-button"
            @click="nextStep"
            :disabled="selectedAnswer === null"
          >
            Xác nhận và tiếp tục
          </button>
        </div>
        <div v-else-if="currentStep === 1">
          <h3 class="mb-4">Hãy chọn vùng mà bạn thấy bất thường</h3>
          <div class="image-container">
            <div
              v-for="(part, index) in gridParts"
              :key="index"
              class="grid-part"
              @click="selectPart(index)"
              :style="getPartStyle(part)"
              :class="{ highlighted: selectedParts.includes(index) }"
            ></div>
          </div>
          <button
            class="confirm-button"
            @click="completeTest"
            :disabled="selectedParts.length === 0"
          >
            Tiếp tục
          </button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { $dbSet } from "@/plugins/helper";

export default {
  name: "AmslerGridTest",
  data() {
    return {
      initialAnswers: ["Bình thường", "Bất thường"],
      selectedAnswer: null,
      currentStep: 0,
      showOverlay: true,
      showInstructions: false,
      showEndScreen: false,
      selectedParts: [],
      userAnswers: [],
      gridParts: [],
      eyePosition: "",
    };
  },
  created() {
    this.gridParts = this.generateGridParts(3, 3);
    this.eyePosition = this.$route.params.position || "";
  },
  methods: {
    selectAnswer(answer) {
      this.selectedAnswer = answer;
    },
    nextStep() {
      if (this.selectedAnswer === "Bình thường") {
        this.completeTest();
      } else {
        this.currentStep += 1;
      }
    },
    generateGridParts(rows, cols) {
      const parts = [];
      const width = 500 / cols;
      const height = 500 / rows;
      for (let row = 0; row < rows; row++) {
        for (let col = 0; col < cols; col++) {
          parts.push({ x: col * width, y: row * height, width, height });
        }
      }
      return parts;
    },
    getPartStyle(part) {
      return {
        left: part.x + "px",
        top: part.y + "px",
        width: part.width + "px",
        height: part.height + "px",
      };
    },
    selectPart(index) {
      if (this.selectedParts.includes(index)) {
        this.selectedParts = this.selectedParts.filter((i) => i !== index);
      } else {
        this.selectedParts.push(index);
      }
    },
    completeTest() {
      this.userAnswers.push({
        question: "Amsler Grid",
        answer: this.selectedAnswer,
        selectedParts: this.selectedParts,
      });
      this.showEndScreen = true;
    },
    startTest() {
      this.showOverlay = false;
      this.showInstructions = true;
    },
    proceedToTest() {
      this.showInstructions = false;
    },
    async nextTest() {
      const { id, datetime, position } = this.$route.params;

      if (this.userAnswers.length > 0) {
        await $dbSet(
          `online_opd/checkups/${id}/${datetime}/amslerGridTest/${position}`,
          this.userAnswers
        );
      }

      if (!position) {
        window.location.href = `/online/amsler-test/${id}/${datetime}`;
      } else if (position === "od") {
        window.location.href = `/online/amsler-test/${id}/${datetime}/os`;
      } else if (position === "os") {
        window.location.href = `${
          import.meta.env.VITE_APP_ONLINE_OPD
        }result/online/${id}/${datetime}`;
      }
    },
  },
};
</script>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  padding: 30px 0;
}

.image-container {
  position: relative;
  width: 500px;
  height: 500px;
  background: url("@/assets/images/amslerGrid/AmslerGrid.png") no-repeat center
    center;
  background-size: cover;
  margin: 0 auto;
}

.grid-part {
  position: absolute;
  border: 2px solid rgba(255, 0, 0, 0.5);
  box-sizing: border-box;
  cursor: pointer;
}

.grid-part.highlighted {
  background-color: rgba(255, 0, 0, 0.3);
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

.answer-button {
  background: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: calc(50% - 40px);
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  text-align: center;
  font-size: 1.1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.answer-button:hover {
  background: #d5d5d5;
  transform: scale(1.05);
}

.selected {
  background: #3f51b5;
  color: white;
  border: 1px solid #3f51b5;
}

.confirm-button {
  background: #ff4081;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  font-size: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirm-button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.confirm-button:not(:disabled):hover {
  background: #e91e63;
  transform: scale(1.05);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.overlay-color {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  text-align: center;
  color: rgb(0, 0, 0);
  max-width: 700px;
  font-size: 1.5em;
}

.overlay-content h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.overlay-content h3 {
  font-size: 1.5em;
  color: #333;
}

.overlay-content p {
  font-size: 1.1em;
  color: #555;
  text-align: left;
  line-height: 1.6;
}

.start-button {
  background: #3f51b5;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  font-size: 1.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.start-button:hover {
  background: #303f9f;
  transform: scale(1.05);
}

.introduction-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.eye-instruction-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
</style>
