<template>
  <v-main>
    <v-card flat class="camera-wrapper">
      <div ref="container" class="video-container">
        <div v-show="isCameraOn" class="eye-video-container">
          <video
            ref="videoElement"
            @loadedmetadata="onVideoLoaded"
            autoplay
            class="videot"
          ></video>
        </div>
        <canvas ref="canvas"></canvas>
        <div v-if="showOverlay" class="overlay-camera">
          <v-row>
            <v-col class="text-center">
              <h1 class="overlay-title">Eye Blink Test</h1>
              <h2 class="overlay-subtitle">
                Bằng cách đo thời gian mắt bạn mở bao lâu, bạn có thể kiểm tra
                xem mình có bị khô mắt hay không.
              </h2>

              <h2 class="overlay-subtitle mb-8">
                Để tham gia bài kiểm tra khô mắt này, vui lòng bật camera của
                bạn ngay bây giờ.
              </h2>
              <v-btn class="detect-button" @click="startDetection">Start</v-btn>
            </v-col>
          </v-row>
        </div>
        <div v-if="!showOverlay && countdown < 5" class="intro-detect">
          <v-row>
            <v-col class="text-center">
              <h2
                class="overlay-subtitle"
                v-if="countdown < 5 && countdown != 0"
              >
                Khi bắt đầu , bạn hãy giữ yên mắt trong vòng 10 giây
              </h2>
              <h2
                class="overlay-subtitle"
                v-if="countdown < 5 && countdown != 0"
              >
                Bắt đầu nhận diện khu vực mắt của bạn trong {{ countdown }} giây
              </h2>
            </v-col>
          </v-row>
        </div>

        <div class="countbar-section" v-if="isTesting">
          <div class="d-flex justify-space-between w-100">
            <h2 class="overlay-subtitle">0s</h2>
            <h2 class="overlay-subtitle">10s</h2>
          </div>

          <div class="countdown-bar-container">
            <div
              class="countdown-bar"
              :style="{ width: `${(10 - countdownTesting) * 10}%` }"
            ></div>
          </div>
        </div>

        <div v-if="(10 - countdownTesting) * 10 === 100" class="action-buttons">
          <v-btn class="btn-retry" @click="retryTest">Thử lại</v-btn>
          <v-btn class="btn-get-result" @click="getResult">Nhận kết quả</v-btn>
        </div>

        <Vue3Lottie
          v-if="isBlinkingStatus"
          animationLink="https://lottie.host/84919d81-006e-43ae-8d7d-c5786da676d2/FRo1gC7x1n.json"
          :height="mobile ? 100 : 200"
          :width="mobile ? 100 : 200"
          :style="`position: absolute; top: ${leftEyePosition.y}px; left: ${
            mobile ? '5%' : '30%'
          }; z-index: 999;`"
        />

        <Vue3Lottie
          v-if="isBlinkingStatus"
          animationLink="https://lottie.host/84919d81-006e-43ae-8d7d-c5786da676d2/FRo1gC7x1n.json"
          :height="mobile ? 100 : 200"
          :width="mobile ? 100 : 200"
          :style="`position: absolute; top: ${rightEyePosition.y}px; right: ${
            mobile ? '5%' : '30%'
          }; z-index: 999;`"
        />
      </div>

      <v-dialog v-model="showResultDialog" max-width="800px">
        <v-card class="result-card">
          <v-card-title class="headline text-center blue darken-2 white--text">
            {{ resultTitle }}
          </v-card-title>
          <div class="text-center mt-3">Score</div>
          <p class="font-weight-bold text-center text-h3">{{ finalScore }}</p>
          <v-card-text
            class="text-center mt-4 text-subtitle-1 font-weight-light"
          >
            {{ resultMessage }}
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions class="justify-center">
            <v-btn large color="blue darken-2" text @click="moveToAnotherTest">
              Tiếp tục
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-main>
</template>

<script>
import { useDisplay } from "vuetify";
import * as faceapi from "face-api.js";
import { ref, onMounted } from "vue";
import { useRouter } from "vue-router";
import { Vue3Lottie } from "vue3-lottie";
import { $dbSet } from "@/plugins/helper";

export default {
  name: "CameraComponent",
  components: {
    Vue3Lottie,
  },
  setup() {
    const { mobile } = useDisplay();
    const router = useRouter();
    const videoElement = ref(null);
    const container = ref(null);
    const canvas = ref(null);
    const isCameraOn = ref(false);
    const isLoading = ref(false);
    const showOverlay = ref(true);
    const selectedCameraDeviceId = localStorage.getItem("selectedCamera");
    const countdown = ref(5);
    const countdownTesting = ref(10);
    const isTesting = ref(false);
    const isBlinkingStatus = ref(false);
    const leftEyePosition = ref({ x: 0, y: 0 });
    const rightEyePosition = ref({ x: 0, y: 0 });
    const score = ref(10);
    const finalScore = ref(10);
    const count = ref(0);
    const showResultDialog = ref(false);
    const resultTitle = ref("Kết quả");
    const resultMessage = ref("");

    let countdownInterval = null;
    let stream = null;

    // Constants for blink detection
    let BLINK_THRESHOLD = 0.25; // Will be set during calibration
    const CONSEC_FRAMES = 2; // Number of consecutive frames below threshold

    // Variables to keep track of eye state
    let frameCounter = 0;
    let eyeClosed = false;

    // Calibration variables
    let calibrationFrames = 60;
    let calibrationCounter = 0;
    let openEyeEAR = 0;
    let isCalibrated = false;

    onMounted(async () => {
      await faceapi.nets.tinyFaceDetector.loadFromUri("/weights");
      await faceapi.nets.faceLandmark68Net.loadFromUri("/weights");
      await faceapi.nets.ssdMobilenetv1.loadFromUri("/weights");
      await faceapi.nets.faceLandmark68TinyNet.loadFromUri("/weights");

      turnOnCamera();
    });

    const retryTest = () => {
      countdown.value = 5;
      countdownTesting.value = 10;
      isTesting.value = false;
      score.value = 10;
      finalScore.value = 10;
      count.value = 0;
      isCalibrated = false;
      calibrationCounter = 0;
      openEyeEAR = 0;
      setTimeout(() => {
        startDetection();
      }, 500);
    };

    const getResult = () => {
      finalScore.value = score.value - count.value;
      if (finalScore.value <= 4 && finalScore.value >= 0) {
        resultMessage.value =
          "😞 Rất có khả năng bạn đang bị khô mắt nghiêm trọng.";
      } else if (finalScore.value >= 5 && finalScore.value <= 9) {
        resultMessage.value = "☹️ Mắt bạn có thể đang bị khô nhẹ.";
      } else if (finalScore.value === 10) {
        resultMessage.value = "😄 Mắt bạn rất tốt! Bạn không bị khô mắt.";
      } else if (finalScore.value < 0) {
        finalScore.value = 0;
        resultMessage.value =
          "😞 Rất có khả năng bạn đang bị khô mắt nghiêm trọng.";
      }
      showResultDialog.value = true;
    };

    const onVideoLoaded = () => {
      isCameraOn.value = true;
      const videoWidth = videoElement.value.videoWidth;
      const videoHeight = videoElement.value.videoHeight;
      videoElement.value.width = videoWidth;
      videoElement.value.height = videoHeight;

      canvas.value.width = videoWidth;
      canvas.value.height = videoHeight;
    };

    const updateVideoAndLandmarks = async () => {
      if (isCameraOn.value) {
        await drawLandmarks();
        requestAnimationFrame(updateVideoAndLandmarks);
      }
    };

    const drawLandmarks = async () => {
      if (!canvas.value) return;

      const detections = await faceapi
        .detectSingleFace(
          videoElement.value,
          new faceapi.TinyFaceDetectorOptions()
        )
        .withFaceLandmarks(true);

      const ctx = canvas.value.getContext("2d");
      ctx.clearRect(0, 0, canvas.value.width, canvas.value.height);

      if (detections) {
        const resizedDetections = faceapi.resizeResults(detections, {
          width: canvas.value.width,
          height: canvas.value.height,
        });

        const leftEye = resizedDetections.landmarks.getLeftEye();
        const rightEye = resizedDetections.landmarks.getRightEye();

        if (!isCalibrated) {
          calibrateEAR(leftEye, rightEye);
        } else if (countdown.value <= 0) {
          if (!isTesting.value) {
            startTesting();
          }

          ctx.fillRect(0, 0, canvas.value.width, canvas.value.height);
          const leftEyeBrow = resizedDetections.landmarks.getLeftEyeBrow();
          const rightEyeBrow = resizedDetections.landmarks.getRightEyeBrow();

          drawEyeRegion(
            ctx,
            videoElement.value,
            leftEyeBrow,
            rightEyeBrow,
            leftEye,
            rightEye
          );

          if (countdownTesting.value > 0 && isBlinking(leftEye, rightEye)) {
            console.log("Blink detected!");
            count.value++;
          }
        } else {
          faceapi.draw.drawFaceLandmarks(canvas.value, [resizedDetections]);
        }
      } else {
        frameCounter = 0;
        eyeClosed = false;
      }
    };

    const calibrateEAR = (leftEye, rightEye) => {
      const leftEAR = computeEAR(leftEye);
      const rightEAR = computeEAR(rightEye);
      const avgEAR = (leftEAR + rightEAR) / 2;
      openEyeEAR += avgEAR;
      calibrationCounter++;

      if (calibrationCounter >= calibrationFrames) {
        openEyeEAR /= calibrationFrames;
        BLINK_THRESHOLD = openEyeEAR * 0.75;
        console.log(
          `Calibration complete. BLINK_THRESHOLD set to ${BLINK_THRESHOLD}`
        );
        isCalibrated = true;
      }
    };

    function drawEyeRegion(
      ctx,
      video,
      leftEyeBrow,
      rightEyeBrow,
      leftEye,
      rightEye
    ) {
      const padding = 20;

      let startX =
        Math.min(
          ...leftEyeBrow.map((p) => p.x),
          ...leftEye.map((p) => p.x),
          ...rightEyeBrow.map((p) => p.x),
          ...rightEye.map((p) => p.x)
        ) - padding;

      let startY =
        Math.min(
          ...leftEyeBrow.map((p) => p.y),
          ...leftEye.map((p) => p.y),
          ...rightEyeBrow.map((p) => p.y),
          ...rightEye.map((p) => p.y)
        ) - padding;

      let endX =
        Math.max(
          ...leftEyeBrow.map((p) => p.x),
          ...leftEye.map((p) => p.x),
          ...rightEyeBrow.map((p) => p.x),
          ...rightEye.map((p) => p.x)
        ) + padding;

      let endY =
        Math.max(
          ...leftEyeBrow.map((p) => p.y),
          ...leftEye.map((p) => p.y),
          ...rightEyeBrow.map((p) => p.y),
          ...rightEye.map((p) => p.y)
        ) + padding;

      const width = endX - startX;
      const height = endY - startY;

      const videoCenterX = canvas.value.width / 2;
      const videoCenterY = canvas.value.height / 2;

      const eyeFrameCenterX = startX + width / 2;
      const eyeFrameCenterY = startY + height / 2;

      const deltaX = videoCenterX - eyeFrameCenterX;
      const deltaY = videoCenterY - eyeFrameCenterY;

      const destStartX = startX + deltaX;
      const destStartY = startY + deltaY;

      ctx.drawImage(
        video,
        startX,
        startY,
        width,
        height,
        destStartX,
        destStartY,
        width,
        height
      );
    }

    const turnOnCamera = async () => {
      isLoading.value = true;
      try {
        const constraints = { video: true };
        if (selectedCameraDeviceId) {
          constraints.video = { deviceId: selectedCameraDeviceId.deviceId };
        }
        stream = await navigator.mediaDevices.getUserMedia(constraints);
        videoElement.value.srcObject = stream;
        await new Promise(
          (resolve) => (videoElement.value.onloadedmetadata = resolve)
        );
        isCameraOn.value = true;
      } catch (err) {
        console.error("Error accessing the camera:", err);
        confirmAndRedirect();
      }
      isLoading.value = false;
    };

    const confirmAndRedirect = () => {
      if (confirm("Lỗi camera, Bạn có muốn reload lại trình duyệt?")) {
        router.push("/patientauths");
      }
    };

    const startDetection = () => {
      clearInterval(countdownInterval);

      showOverlay.value = false;
      countdownInterval = setInterval(() => {
        if (countdown.value > 0) {
          countdown.value--;
        } else {
          clearInterval(countdownInterval);
        }
      }, 1000);
      updateVideoAndLandmarks();
    };

    const startTesting = () => {
      clearInterval(countdownInterval);
      isTesting.value = true;
      countdownInterval = setInterval(() => {
        if (countdownTesting.value > 0) {
          countdownTesting.value--;
        } else {
          clearInterval(countdownInterval);
        }
      }, 1000);
    };

    const computeEAR = (eye) => {
      // Calculate the distance between two sets of vertical eye landmarks
      const A = Math.hypot(eye[1].x - eye[5].x, eye[1].y - eye[5].y);
      const B = Math.hypot(eye[2].x - eye[4].x, eye[2].y - eye[4].y);

      // Calculate the distance between a set of horizontal eye landmarks
      const C = Math.hypot(eye[0].x - eye[3].x, eye[0].y - eye[3].y);

      // Calculate the EAR
      return (A + B) / (2.0 * C);
    };

    const isBlinking = (leftEye, rightEye) => {
      const leftEAR = computeEAR(leftEye);
      const rightEAR = computeEAR(rightEye);
      const avgEAR = (leftEAR + rightEAR) / 2;
      const EAR_THRESHOLD = 0.26;

      if (avgEAR < EAR_THRESHOLD) {
        isBlinkingStatus.value = true;

        // Calculate the center of each eye
        leftEyePosition.value = {
          x: (leftEye[0].x + leftEye[3].x) / 2,
          y: (leftEye[1].y + leftEye[5].y) / 2,
        };

        rightEyePosition.value = {
          x: (rightEye[0].x + rightEye[3].x) / 2,
          y: (rightEye[1].y + rightEye[5].y) / 2,
        };

        setTimeout(() => {
          isBlinkingStatus.value = false;
        }, 500);

        return true;
      }
      return false;
    };

    const moveToAnotherTest = async () => {
      const { id, datetime } = router.currentRoute.value.params;
      if (id && datetime) {
        if (finalScore.value != null) {
          await $dbSet(
            `online_opd/checkups/${id}/${datetime}/blinkScore`,
            finalScore.value
          );
        }

        router.push(`/online/color-test/${id}/${datetime}/od`);
      } else {
        router.push("/online/color-test");
      }
    };

    return {
      countdown,
      router,
      videoElement,
      container,
      canvas,
      isCameraOn,
      showOverlay,
      isLoading,
      isTesting,
      countdownTesting,
      isBlinkingStatus,
      leftEyePosition,
      rightEyePosition,
      mobile,
      finalScore,

      showResultDialog,
      resultTitle,
      resultMessage,
      score,

      startDetection,
      onVideoLoaded,
      retryTest,
      getResult,
      moveToAnotherTest,
    };
  },
};
</script>

<style scoped>
@import "@/assets/scss/blinkDetection.scss";
</style>
