<template>
  <div class="container">
    <transition name="fade" mode="out-in">
      <!-- Introduction Screen -->
      <v-card
        v-if="showOverlay"
        class="elevation-5 h-100 w-100 d-flex align-center justify-center rounded-xl"
      >
        <div class="overlay-content">
          <img
            src="@/assets/images/png/introduction-following-question.svg"
            alt="Introduction"
            class="introduction-image"
          />
          <h1>Color Test</h1>

          <p v-if="eyePosition === 'od'">
            <strong>Bạn hãy che mắt trái và chọn kết quả kiểm tra.</strong>
          </p>
          <p v-if="eyePosition === 'os'">
            <strong>Bạn hãy che mắt phải và chọn kết quả kiểm tra.</strong>
          </p>
          <p>
            Bài kiểm tra này giúp xác định sự thiếu hụt về khả năng nhận biết
            màu sắc. Bạn sẽ được xem một loạt hình ảnh có các con số ẩn trong
            đó. Hãy chọn số bạn nhìn thấy từ các tùy chọn được cung cấp.
          </p>
          <p v-if="eyePosition === 'od'">
            Bạn hiện đang kiểm tra mắt phải (OD).
          </p>
          <p v-if="eyePosition === 'os'">
            Bạn hiện đang kiểm tra mắt trái (OS).
          </p>
          <button class="start-button mt-10" @click="startTest">Bắt đầu</button>
        </div>
      </v-card>

      <!-- Guiding Screen -->
      <v-card
        v-else-if="showInstructions"
        class="elevation-5 h-100 w-100 d-flex align-center justify-center rounded-xl flex-column"
      >
        <img
          v-if="eyePosition === 'os'"
          src="@/assets/images/png/I-CV1.svg"
          alt="Eye Instruction"
          class="eye-instruction-image"
        />
        <img
          v-if="eyePosition === 'od'"
          src="@/assets/images/png/I-CV2.svg"
          alt="Eye Instruction"
          class="eye-instruction-image"
        />
        <h1 class="mt-10">Hướng dẫn</h1>

        <h2 class="mb-10 font-weight-medium">
          Vui lòng che {{ eyePosition === "od" ? "mắt trái" : "mắt phải" }} của
          bạn như sau:
        </h2>
        <h2 class="mb-6 font-weight-medium">
          - Sử dụng lòng bàn tay hoặc một mảnh vải sạch để che mắt
          {{ eyePosition === "od" ? "trái" : "phải" }}.<br />
          - Che nhẹ nhàng, không tạo áp lực lên mắt để tránh gây khó chịu hoặc
          ảnh hưởng đến thị lực.<br />
          - Đảm bảo mắt được che kín hoàn toàn, không để ánh sáng lọt vào.<br />
          - Mắt còn lại nhìn thẳng vào màn hình và tập trung vào bài kiểm tra.
        </h2>

        <button class="start-button" @click="proceedToTest">Tôi đã hiểu</button>
      </v-card>

      <!-- End Screen -->
      <div v-else-if="showEndScreen" class="overlay-color">
        <div class="overlay-content">
          <h1>Tiếp tục</h1>
          <p class="mb-10 text-center">
            Bạn đã hoàn tất Color Vision Test ở mắt
            {{ eyePosition === "od" ? "trái" : "phải" }}. Nhấn nút dưới để tiếp
            tục bài test tiếp theo
          </p>
          <button class="start-button" @click="nextTest">Tiếp tục</button>
        </div>
      </div>

      <!-- Test Screen -->
      <div v-else class="card">
        <transition name="fade" mode="out-in">
          <div :key="currentPlate.id">
            <v-row align="center">
              <!-- For eyePosition 'od', image on right, options on left -->
              <template v-if="eyePosition === 'od'">
                <v-col cols="6" class="d-flex justify-center">
                  <!-- Options -->
                  <div class="answer-options">
                    <div
                      v-for="answer in currentPlate.answers"
                      :key="answer"
                      :class="[
                        'answer-button',
                        { selected: selectedAnswer === answer },
                      ]"
                      @click="selectAnswer(answer)"
                    >
                      {{ answer }}
                    </div>
                  </div>
                </v-col>
                <v-col cols="6" class="d-flex justify-center">
                  <!-- Image -->
                  <div class="image-container">
                    <img
                      :src="currentPlate.images"
                      alt="Color Test Plate"
                      class="test-image"
                    />
                  </div>
                </v-col>
              </template>
              <!-- For eyePosition 'os', image on left, options on right -->
              <template v-else-if="eyePosition === 'os'">
                <v-col cols="6" class="d-flex justify-center">
                  <!-- Image -->
                  <div class="image-container">
                    <img
                      :src="currentPlate.images"
                      alt="Color Test Plate"
                      class="test-image"
                    />
                  </div>
                </v-col>
                <v-col cols="6" class="d-flex justify-center">
                  <!-- Options -->
                  <div class="answer-options">
                    <div
                      v-for="answer in currentPlate.answers"
                      :key="answer"
                      :class="[
                        'answer-button',
                        { selected: selectedAnswer === answer },
                      ]"
                      @click="selectAnswer(answer)"
                    >
                      {{ answer }}
                    </div>
                  </div>
                </v-col>
              </template>
            </v-row>
            <div class="d-flex flex-row justify-center">
              <button class="skip-button" @click="skipQuestion">
                Tôi không thấy
              </button>
              <button
                class="confirm-button ml-2"
                @click="nextQuestion"
                :disabled="selectedAnswer === null"
              >
                Xác nhận và tiếp tục
              </button>
            </div>
          </div>
        </transition>
      </div>
    </transition>
  </div>
</template>

<script>
import { Plates } from "@/plugins/contant";
import { $dbSet } from "@/plugins/helper";

export default {
  name: "ColorTest",
  data() {
    return {
      plates: this.getRandomPlates(4),
      currentIndex: 0,
      selectedAnswer: null,
      showOverlay: true,
      showInstructions: false,
      showEndScreen: false,
      userAnswers: [],
      eyePosition: null,
    };
  },
  computed: {
    currentPlate() {
      return this.plates[this.currentIndex];
    },
  },
  created() {
    const { id, datetime, position } = this.$route.params;
    this.eyePosition = position;

    if (!position) {
      this.$router.push(`/online/amsler-test/${id}/${datetime}`);
    }
  },
  methods: {
    selectAnswer(answer) {
      this.selectedAnswer = answer;
    },
    skipQuestion() {
      this.userAnswers.push({
        question: this.currentPlate.id,
        rightAnswer: this.currentPlate.rightAnswer,
        answer: "Bỏ qua",
      });
      this.selectedAnswer = null;
      if (this.currentIndex < this.plates.length - 1) {
        this.currentIndex += 1;
      } else {
        this.showEndScreen = true;
        console.log("User's answers:", this.userAnswers);
      }
    },
    nextQuestion() {
      this.userAnswers.push({
        question: this.currentPlate.id,
        rightAnswer: this.currentPlate.rightAnswer,
        answer: this.selectedAnswer,
      });
      this.selectedAnswer = null;
      if (this.currentIndex < this.plates.length - 1) {
        this.currentIndex += 1;
      } else {
        this.showEndScreen = true;
        console.log("User's answers:", this.userAnswers);
      }
    },
    startTest() {
      this.showOverlay = false;
      this.showInstructions = true;
    },
    proceedToTest() {
      this.showInstructions = false;
    },
    async nextTest() {
      console.log("Proceeding to the next test...");
      const { id, datetime, position } = this.$route.params;

      if (this.userAnswers.length > 0) {
        await $dbSet(
          `online_opd/checkups/${id}/${datetime}/colorAnswers/${position}`,
          this.userAnswers
        );
      }

      if (!position) {
        window.location.href = `/online/amsler-test/${id}/${datetime}`;
      } else if (position === "od") {
        window.location.href = `/online/color-test/${id}/${datetime}/os`;
      } else if (position === "os") {
        window.location.href = `/online/amsler-test/${id}/${datetime}/od`;
      }
    },
    shuffleArray(array) {
      let shuffledArray = array.slice();
      for (let i = shuffledArray.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [shuffledArray[i], shuffledArray[j]] = [
          shuffledArray[j],
          shuffledArray[i],
        ];
      }
      return shuffledArray;
    },
    getRandomPlates(count) {
      return this.shuffleArray(Plates).slice(0, count);
    },
  },
};
</script>

<style scoped>
.skip-button {
  background: #ff7043;
  color: white;
  border: none;
  padding: 16px 32px;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  font-size: 1.2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skip-button:hover {
  background: #f4511e;
  transform: scale(1.05);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  padding: 30px 0;
}

.image-container {
  position: relative;
  width: 100%;
}

.test-image {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.answer-button {
  background: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  width: 200px;
  height: 200px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  text-align: center;
  font-size: 5.5em;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-button:hover {
  background: #d5d5d5;
  transform: scale(1.05);
}

.selected {
  background: #3f51b5;
  color: white;
  border: 1px solid #3f51b5;
}

.confirm-button {
  background: #ff4081;
  color: white;
  border: none;
  padding: 16px 32px;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  font-size: 1.2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirm-button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.confirm-button:not(:disabled):hover {
  background: #e91e63;
  transform: scale(1.05);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.overlay-color {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  text-align: center;
  color: rgb(0, 0, 0);
  max-width: 700px;
}

.overlay-content h1 {
  margin-bottom: 20px;
  font-size: 3em;
}

.overlay-content h3 {
  font-size: 1.8em;
  color: #333;
}

.overlay-content p {
  font-size: 1.5em;
  color: #555;
  text-align: left;
  line-height: 1.6;
}

.start-button {
  background: #3f51b5;
  color: white;
  border: none;
  padding: 16px 32px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  font-size: 1.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.start-button:hover {
  background: #303f9f;
  transform: scale(1.05);
}

.introduction-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.eye-instruction-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
</style>
