<template>
  <div class="container">
    <transition name="fade" mode="out-in">
      <!-- Introduction Screen -->
      <v-card
        v-if="showOverlay"
        class="elevation-5 h-100 w-100 d-flex align-center justify-center rounded-xl"
      >
        <div class="overlay-content">
          <img
            src="@/assets/images/png/I-AG2.svg"
            alt="Introduction"
            class="introduction-image"
          />
          <h1>Contrast Sensitivity Test</h1>
          <p>
            Bài kiểm tra này giúp xác định độ nhạy tương phản của bạn. Bạn sẽ
            được xem một loạt chữ cái với các mức độ tương phản khác nhau. Hãy
            chọn chữ cái mà bạn nhìn thấy trong mỗi lần hiển thị.
          </p>
          <button class="start-button mt-10" @click="startTest">Bắt đầu</button>
        </div>
      </v-card>

      <!-- Guiding Screen -->
      <v-card
        v-else-if="showInstructions"
        class="elevation-5 h-100 w-100 d-flex align-center justify-center rounded-xl flex-column"
      >
        <img
          v-if="eyePosition === 'os'"
          src="@/assets/images/png/I-CV1.svg"
          alt="Eye Instruction"
          class="eye-instruction-image"
        />
        <img
          v-if="eyePosition === 'od'"
          src="@/assets/images/png/I-CV2.svg"
          alt="Eye Instruction"
          class="eye-instruction-image"
        />
        <h1 class="mt-10">Hướng dẫn</h1>

        <h2 class="mb-10 font-weight-medium">
          Vui lòng che {{ eyePosition === "od" ? "mắt trái" : "mắt phải" }} của
          bạn như sau:
        </h2>
        <h2 class="mb-6 font-weight-medium">
          - Sử dụng lòng bàn tay hoặc một mảnh vải sạch để che mắt
          {{ eyePosition === "od" ? "trái" : "phải" }}.<br />
          - Che nhẹ nhàng, không tạo áp lực lên mắt để tránh gây khó chịu hoặc
          ảnh hưởng đến thị lực.<br />
          - Đảm bảo mắt được che kín hoàn toàn, không để ánh sáng lọt vào.<br />
          - Mắt còn lại nhìn thẳng vào màn hình và tập trung vào bài kiểm tra.
        </h2>

        <button class="start-button" @click="proceedToTest">Tôi đã hiểu</button>
      </v-card>

      <!-- End Screen -->
      <div v-else-if="showEndScreen" class="overlay-color">
        <div class="overlay-content">
          <h1>Hoàn tất</h1>
          <p class="mb-10">Bạn đã hoàn tất Contrast Sensitivity Test.</p>
          <button class="start-button" @click="nextTest">Xác nhận</button>
        </div>
      </div>

      <!-- Test Screen -->
      <div v-else class="card">
        <transition name="fade" mode="out-in">
          <div :key="currentText.id">
            <div class="text-container">
              <span :style="getTextStyle()" class="test-text">
                {{ currentText.character }}
              </span>
            </div>
            <div class="answer-options">
              <div
                v-for="option in answerOptions"
                :key="option"
                :class="[
                  'answer-button',
                  { selected: selectedAnswer === option },
                ]"
                @click="selectAnswer(option)"
              >
                {{ option }}
              </div>
            </div>
            <div class="d-flex flex-row justify-center">
              <button class="skip-button" @click="skipQuestion">
                Tôi không thấy
              </button>
              <button
                class="confirm-button ml-2"
                @click="nextQuestion"
                :disabled="selectedAnswer === null"
              >
                Xác nhận và tiếp tục
              </button>
            </div>
          </div>
        </transition>
      </div>
    </transition>
  </div>
</template>

<script>
import { $dbSet } from "@/plugins/helper";

export default {
  name: "ContrastSensitivityTest",
  data() {
    return {
      texts: [],
      currentIndex: 0,
      selectedAnswer: null,
      showOverlay: true,
      showInstructions: false,
      showEndScreen: false,
      userAnswers: [],
      eyePosition: "",
      answerOptions: ["E", "C", "D", "O"],
    };
  },
  computed: {
    currentText() {
      return this.texts[this.currentIndex];
    },
  },
  created() {
    this.eyePosition = this.$route.params.position || "";
    this.generateContrastTexts();
  },
  methods: {
    generateContrastTexts() {
      const characters = ["E", "C", "D", "O"];
      const contrastLevels = [
        1.0, // Level 1 - Full Contrast
        0.85, // Level 2
        0.7, // Level 3
        0.55, // Level 4
        0.4, // Level 5
        0.25, // Level 6
        0.1, // Level 7
        0.05, // Level 8 - Very Low Contrast
      ];
      this.texts = contrastLevels.map((level, index) => {
        return {
          id: index + 1,
          character: characters[Math.floor(Math.random() * characters.length)],
          contrastLevel: level,
        };
      });
    },
    getTextStyle() {
      const textColorValue = Math.round(
        255 * (1 - this.currentText.contrastLevel)
      );
      const textColor = `rgb(${textColorValue}, ${textColorValue}, ${textColorValue})`;
      return {
        color: textColor,
        backgroundColor: "#FFFFFF",
        fontSize: "100px",
      };
    },
    selectAnswer(answer) {
      this.selectedAnswer = answer;
    },
    skipQuestion() {
      this.userAnswers.push({
        textId: this.currentText.id,
        correctAnswer: this.currentText.character,
        userAnswer: "Bỏ qua",
        contrastLevel: this.currentText.contrastLevel,
      });
      this.selectedAnswer = null;
      if (this.currentIndex < this.texts.length - 1) {
        this.currentIndex += 1;
      } else {
        this.showEndScreen = true;
      }
    },
    nextQuestion() {
      this.userAnswers.push({
        textId: this.currentText.id,
        correctAnswer: this.currentText.character,
        userAnswer: this.selectedAnswer,
        contrastLevel: this.currentText.contrastLevel,
      });
      this.selectedAnswer = null;
      if (this.currentIndex < this.texts.length - 1) {
        this.currentIndex += 1;
      } else {
        this.showEndScreen = true;
      }
    },
    startTest() {
      this.showOverlay = false;
      this.showInstructions = true;
    },
    proceedToTest() {
      this.showInstructions = false;
    },
    async nextTest() {
      const { id, datetime, position } = this.$route.params;

      if (this.userAnswers.length > 0) {
        await $dbSet(
          `online_opd/checkups/${id}/${datetime}/contrastSensitivityTest/${position}`,
          this.userAnswers
        );
      }

      if (!position) {
        window.location.href = `/online/amsler-test/${id}/${datetime}`;
      } else if (position === "od") {
        window.location.href = `/online/contrast-sensitivity-test/${id}/${datetime}/os`;
      } else if (position === "os") {
        window.location.href = `/online/amsler-test/${id}/${datetime}/od`;
      }
    },
  },
};
</script>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  padding: 30px 0;
}

.text-container {
  margin: 30px 0;
  height: 300px;
}

.test-text {
  font-size: 150px;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

.answer-button {
  background: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: calc(50% - 40px);
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  text-align: center;
  font-size: 1.1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.answer-button:hover {
  background: #d5d5d5;
  transform: scale(1.05);
}

.selected {
  background: #3f51b5;
  color: white;
  border: 1px solid #3f51b5;
}

.skip-button {
  background: #ff7043;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  font-size: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skip-button:hover {
  background: #f4511e;
  transform: scale(1.05);
}

.confirm-button {
  background: #ff4081;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  font-size: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirm-button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.confirm-button:not(:disabled):hover {
  background: #e91e63;
  transform: scale(1.05);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.overlay-color {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  text-align: center;
  color: rgb(0, 0, 0);
  max-width: 700px;
}

.overlay-content h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.overlay-content h3 {
  font-size: 1.5em;
  color: #333;
}

.overlay-content p {
  font-size: 1.1em;
  color: #555;
  text-align: left;
  line-height: 1.6;
}

.start-button {
  background: #3f51b5;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  font-size: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.start-button:hover {
  background: #303f9f;
  transform: scale(1.05);
}

.introduction-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.eye-instruction-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
</style>
