<template>
  <div class="face-mesh-wrapper">
    <video ref="videoElement" autoplay muted class="video-element"></video>
    <canvas ref="canvas" class="canvas-style"></canvas>
  </div>
</template>

<script>
import { ref, onMounted } from "vue";
import { FaceMesh } from "@mediapipe/face_mesh";
import { Camera } from "@mediapipe/camera_utils";

export default {
  name: "FaceMeshComponent",
  emits: ["blinkDetected", "calibrationComplete"],
  setup(props, { emit }) {
    const videoElement = ref(null);
    const canvas = ref(null);
    let faceMesh;
    let calibrationCounter = 0;
    const calibrationFrames = 300; // Approximately 10 seconds if running at 30 FPS
    let openEyeEAR = 0;
    let isCalibrated = false;
    let BLINK_THRESHOLD = 0;

    onMounted(async () => {
      await startVideo();
      setupFaceMesh();
    });

    const startVideo = async () => {
      try {
        const stream = await navigator.mediaDevices.getUserMedia({
          video: true,
        });
        videoElement.value.srcObject = stream;
      } catch (error) {
        console.error("Error accessing the camera:", error);
      }
    };

    const setupFaceMesh = () => {
      faceMesh = new FaceMesh({
        locateFile: (file) =>
          `https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/${file}`,
      });

      faceMesh.setOptions({
        maxNumFaces: 1,
        refineLandmarks: true,
        minDetectionConfidence: 0.5,
        minTrackingConfidence: 0.5,
      });

      faceMesh.onResults(onResults);
      const camera = new Camera(videoElement.value, {
        onFrame: async () => {
          await faceMesh.send({ image: videoElement.value });
        },
        width: 640,
        height: 480,
      });
      camera.start();
    };

    const onResults = (results) => {
      if (!canvas.value) return;
      const ctx = canvas.value.getContext("2d");
      ctx.clearRect(0, 0, canvas.value.width, canvas.value.height);

      if (results.multiFaceLandmarks && results.multiFaceLandmarks.length > 0) {
        const landmarks = results.multiFaceLandmarks[0];
        const leftEye = [
          landmarks[133],
          landmarks[173],
          landmarks[157],
          landmarks[158],
          landmarks[159],
          landmarks[160],
        ];
        const rightEye = [
          landmarks[362],
          landmarks[398],
          landmarks[384],
          landmarks[385],
          landmarks[386],
          landmarks[387],
        ];

        if (!isCalibrated) {
          calibrate(leftEye, rightEye);
        } else {
          const leftEAR = computeEAR(leftEye);
          const rightEAR = computeEAR(rightEye);
          const avgEAR = (leftEAR + rightEAR) / 2;

          if (avgEAR < BLINK_THRESHOLD) {
            emit("blinkDetected");
          }
        }

        drawLandmarks(ctx, landmarks);
      }
    };

    const calibrate = (leftEye, rightEye) => {
      const leftEAR = computeEAR(leftEye);
      const rightEAR = computeEAR(rightEye);
      const avgEAR = (leftEAR + rightEAR) / 2;

      openEyeEAR += avgEAR;
      calibrationCounter++;

      if (calibrationCounter >= calibrationFrames) {
        openEyeEAR /= calibrationFrames;
        BLINK_THRESHOLD = openEyeEAR * 0.75; // Set threshold as 75% of the open eye EAR value
        isCalibrated = true;
        emit("calibrationComplete");
        console.log(
          `Calibration complete. BLINK_THRESHOLD set to ${BLINK_THRESHOLD}`
        );
      }
    };

    const computeEAR = (eye) => {
      const vertical1 = Math.hypot(eye[1].x - eye[5].x, eye[1].y - eye[5].y);
      const vertical2 = Math.hypot(eye[2].x - eye[4].x, eye[2].y - eye[4].y);
      const horizontal = Math.hypot(eye[0].x - eye[3].x, eye[0].y - eye[3].y);
      return (vertical1 + vertical2) / (2 * horizontal);
    };

    const drawLandmarks = (ctx, landmarks) => {
      ctx.strokeStyle = "#32CD32"; // Light green for eye connections
      ctx.lineWidth = 2;

      // Draw connections for the eyes
      drawConnections(
        ctx,
        landmarks,
        [33, 7, 163, 144, 145, 153, 154, 155, 133],
        "#32CD32"
      );
      drawConnections(
        ctx,
        landmarks,
        [362, 382, 381, 380, 374, 373, 390, 249, 263],
        "#32CD32"
      );

      // Draw individual landmarks for each point
      ctx.fillStyle = "#0000FF"; // Blue for individual landmarks
      for (const landmark of landmarks) {
        const x = landmark.x * canvas.value.width;
        const y = landmark.y * canvas.value.height;
        ctx.beginPath();
        ctx.arc(x, y, 1.5, 0, 2 * Math.PI);
        ctx.fill();
      }
    };

    const drawConnections = (ctx, landmarks, indices, color) => {
      ctx.strokeStyle = color;
      ctx.lineWidth = 2;
      ctx.beginPath();
      ctx.moveTo(
        landmarks[indices[0]].x * canvas.value.width,
        landmarks[indices[0]].y * canvas.value.height
      );
      indices.forEach((index) => {
        ctx.lineTo(
          landmarks[index].x * canvas.value.width,
          landmarks[index].y * canvas.value.height
        );
      });
      ctx.closePath();
      ctx.stroke();
    };

    return {
      videoElement,
      canvas,
    };
  },
};
</script>

<style scoped>
.face-mesh-wrapper {
  position: relative;
}
.video-element {
  width: 100%;
  height: auto;
}
.canvas-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
