<template>
  <router-view />
</template>

<script setup>
//
</script>

<!-- Add the head section here -->
<style>
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

html {
  overflow: hidden !important;
  font-family: "Maven Pro", sans-serif !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.h-90 {
  height: 100% !important;
}

.w-90 {
  width: 100% !important;
}

.h-85 {
  height: 85% !important;
}

.w-85 {
  width: 85% !important;
}

.h-75 {
  height: 75% !important;
}

.w-75 {
  width: 75% !important;
}

.h-65 {
  height: 65% !important;
}

.w-65 {
  width: 65% !important;
}

.h-55 {
  height: 55% !important;
}

.w-55 {
  width: 55% !important;
}

.h-50 {
  height: 50% !important;
}

.w-50 {
  width: 50% !important;
}

.h-35 {
  height: 35% !important;
}

.w-35 {
  width: 35% !important;
}

.h-25 {
  height: 25% !important;
}

.w-25 {
  width: 25% !important;
}
</style>
